* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffefe7;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.75rem;
  color: #7c6a0a;
  background-color: #ffefe7;
  position: fixed;
  z-index: 999;
  padding: 0 2.1rem;
}
nav p {
  color: #7c6a0a;
  font-size: 3rem;
}
nav .icons {
  display: flex;
  gap: 4rem;
}
nav .icons button {
  background: none;
  border: none;
}
nav .icons .svg {
  filter: invert(36%) sepia(98%) saturate(394%) hue-rotate(13deg) brightness(91%) contrast(95%);
  width: 4.8rem;
}
@media screen and (max-width: 950px) {
  nav {
    height: 8vh;
  }
  nav p {
    font-size: 2rem;
  }
  nav .icons {
    align-items: center;
    justify-content: center;
  }
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #7c6a0a;
  width: auto;
  padding: 12.5rem 21.5px;
}
@media (max-width: 950px) {
  article {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    padding: 8.5rem 0;
  }
}
article .impact-section {
  width: 68%;
}
@media screen and (max-width: 950px) {
  article .impact-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
article h1 {
  font-size: 6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 6rem 0;
}
@media screen and (max-width: 950px) {
  article h1 {
    font-size: 2.8rem;
  }
}
article .parrrafo {
  width: 56%;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 950px) {
  article .parrrafo {
    font-size: 2rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
}
article button {
  background: none;
  border: none;
}
article button {
  background-color: #fa9500;
  border-radius: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 26.1rem;
  height: 7.3rem;
  padding: 2.1rem 5.5rem 2.2rem 3.6rem;
  margin-top: 7rem;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}
article button:hover {
  transform: scale(1.1);
}
article img {
  width: 45rem;
  height: 69.6rem;
  border-radius: 1.5rem;
}
@media screen and (max-width: 950px) {
  article img {
    width: 33.6rem;
    height: 36.2rem;
  }
}

section {
  width: 100%;
  height: auto;
  background-color: #ffefe7;
  padding: 6rem;
}
section h2 {
  color: #7c6a0a;
  font-size: 5rem;
  padding-bottom: 6rem;
}
@media screen and (max-width: 950px) {
  section {
    padding: 3rem 1rem;
  }
  section h2 {
    font-size: 2.2rem;
    padding-bottom: 3rem;
  }
}

.product-section {
  background-size: cover;
  background-position: top;
  color: #7c6a0a;
}
.product-section .card-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  align-items: center;
  -moz-column-gap: 38rem;
  column-gap: 37rem;
  row-gap: 9rem;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 7rem;
}
@media screen and (max-width: 768px) {
  .product-section .card-section {
    display: flex;
    -moz-column-gap: unset;
         column-gap: unset;
    gap: 3rem;
    width: 100vw;
    padding-bottom: 7rem;
    padding-top: 5rem;
    overscroll-behavior: auto;
    overflow: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
.product-section .healthcare .product-card, .product-section .furniture .product-card {
  width: 32.4rem;
  height: 50.2rem;
  display: flex;
  background: rgba(255, 218, 198, 0.674);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.286);
  flex-direction: column;
}
.product-section .healthcare .icono, .product-section .furniture .icono {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0.8rem 0.8rem;
}
.product-section .healthcare .icono img, .product-section .furniture .icono img {
  width: 3.1rem;
  filter: invert(36%) sepia(98%) saturate(394%) hue-rotate(13deg) brightness(91%) contrast(95%);
}
.product-section .healthcare .product-image, .product-section .furniture .product-image {
  padding: 1.2rem 4.5rem 4.5rem;
}
.product-section .healthcare .product-image h2, .product-section .furniture .product-image h2 {
  font-weight: 300;
  padding-bottom: 6rem;
}
.product-section .healthcare .product-image h3, .product-section .furniture .product-image h3 {
  font-size: 2.5rem;
}
.product-section .healthcare .product-image p, .product-section .furniture .product-image p {
  font-size: 1.5rem;
}
.product-section .healthcare .card-image, .product-section .furniture .card-image {
  width: 24.1012rem;
  height: 29.9637rem;
  border-radius: 0.65rem;
}
.product-section .furniture .product-card {
  background: rgba(186, 189, 141, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@media screen and (max-width: 950px) {
  .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.about-us h2 {
  font-weight: bold;
  padding-bottom: 6rem;
}
.about-us .mission-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 7rem;
}
@media screen and (max-width: 950px) {
  .about-us .mission-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }
  .about-us .mission-section h2 {
    padding-bottom: 10rem;
  }
}
.about-us .earth, .about-us .inovation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 4rem;
  color: #e86424;
  font-size: 3rem;
  width: 61.4rem;
  height: 26.2rem;
  text-align: center;
}
.about-us .earth img, .about-us .inovation img {
  width: 16.4rem;
}
@media screen and (max-width: 950px) {
  .about-us .earth, .about-us .inovation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2.1rem;
  }
  .about-us .earth img, .about-us .inovation img {
    width: 9rem;
  }
}
.gallery h2 {
  font-weight: bold;
  padding-bottom: 6rem;
}
.gallery .gallery-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5.6rem;
}
.gallery .gallery-image img {
  width: 48.6rem;
  height: 48.8rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0.5rem 35%;
     object-position: 0.5rem 35%;
  border-radius: 1.6rem;
}
.gallery .gallery-image img:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 950px) {
  .gallery .gallery-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery .gallery-image img {
    width: 29.6rem;
    height: 29.7495rem;
  }
}

.location {
  color: #e86424;
}
.location h2 {
  padding: 7rem 0;
}
.location .map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  width: 100%;
  height: 65.6rem;
}
.location .map iframe {
  border: 0;
  width: 100%;
  height: 65.5rem;
}
.location h3 {
  font-size: 3.5rem;
}
.location p {
  font-size: 2.5rem;
}
@media screen and (max-width: 950px) {
  .location h3 {
    font-size: 2rem;
  }
  .location p {
    font-size: 1.5rem;
  }
  .location .map {
    height: 50rem;
  }
  .location .map iframe {
    height: 48rem;
  }
}

footer {
  background-color: #fa9500;
  width: 100%;
  height: auto;
  color: #ffefe7;
  padding: 4rem;
}
footer h3 {
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 4.3rem;
}
footer li {
  padding-bottom: 2.1rem;
}
footer li a {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #ffefe7;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 9rem;
  gap: 3rem;
}
footer .social-media img {
  width: 4.3rem;
}/*# sourceMappingURL=main.css.map */