$primary-color: #ffefe7;
$secundary-color: #ffdac6;
$tertiary-color: #babd8d;
$quaternary-color: #fa9500;
$primary-text-color: #7c6a0a;
$font-stack: "IBM Plex Sans", sans-serif;
$text-color: #e86424;
@mixin flexCenter($direction, $content, $aling) {
	display: flex;
	flex-direction: $direction;
	justify-content: $content;
	align-items: $aling;
}

@mixin buttonStyle {
	button {
		background: none;
		border: none;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	/* 62.5% of 16px browser font size is 10px */
	font-size: 62.5%;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}

body {
	margin: 0;
	padding: 0;
	background-color: $primary-color;
	font-family: $font-stack;
}

nav {
	width: 100%;
	height: 10rem;
	@include flexCenter(row, space-between, center);
	padding: 0 6.75rem;
	color: $primary-text-color;
	background-color: #ffefe7;
	position: fixed;
	z-index: 999;
	padding: 0 2.1rem;
	p {
		color: $primary-text-color;
		font-size: 3rem;
	}
	.icons {
		display: flex;
		gap: 4rem;
		@include buttonStyle;
		.svg {
			filter: invert(36%) sepia(98%) saturate(394%) hue-rotate(13deg)
				brightness(91%) contrast(95%);
			width: 4.8rem;
		}
	}
	@media screen and (max-width: 950px) {
		height: 8vh;
		p {
			font-size: 2rem;
		}
		.icons {
			align-items: center;
			justify-content: center;
		}
	}
}
article {
	@include flexCenter(row, space-around, center);
	color: $primary-text-color;
	width: auto;
	padding: 12.5rem 21.5px;
	@media (max-width: 950px) {
		flex-direction: column-reverse;
		align-items: center;
		width: 100%;
		padding: 8.5rem 0;
	}
	.impact-section {
		width: 68%;
		@media screen and (max-width: 950px) {
			width: 100%;
			@include flexCenter(column, center, center);
		}
	}
	h1 {
		font-size: 6rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		padding: 6rem 0;
		@media screen and (max-width: 950px) {
			font-size: 2.8rem;
		}
	}
	.parrrafo {
		width: 56%;
		font-size: 2.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		@media screen and (max-width: 950px) {
			font-size: 2rem;
			width: 100%;
			padding: 1rem;
			text-align: center;
		}
	}
	@include buttonStyle;
	button {
		background-color: #fa9500;
		border-radius: 3.5rem;
		@include flexCenter(row, space-between, center);
		width: 26.1rem;
		height: 7.3rem;
		padding: 2.1rem 5.5rem 2.2rem 3.6rem;
		margin-top: 7rem;
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		color: #fff;
		&:hover {
			transform: scale(1.1);
		}
	}
	img {
		width: 45rem;
		height: 69.6rem;
		border-radius: 1.5rem;
		@media screen and (max-width: 950px) {
			width: 33.6rem;
			height: 36.2rem;
		}
	}
}

section {
	width: 100%;
	height: auto;
	background-color: $primary-color;
	padding: 6rem;
	h2 {
		color: $primary-text-color;
		font-size: 5rem;
		padding-bottom: 6rem;
	}
	@media screen and (max-width: 950px) {
		padding: 3rem 1rem;
		h2 {
			font-size: 2.2rem;
			padding-bottom: 3rem;
		}
	}
}

.product-section {
	background-size: cover;
	background-position: top;
	color: $primary-text-color;
	.card-section {
		@include flexCenter(row, space-around, center);
		align-items: center;
		align-items: center;
		-moz-column-gap: 38rem;
		column-gap: 37rem;
		row-gap: 9rem;
		flex-wrap: wrap;
		width: 100%;
		padding-bottom: 7rem;
		@media screen and (max-width: 768px) {
			display: flex;
			column-gap: unset;
			gap: 3rem;
			width: 100vw;
			padding-bottom: 7rem;
			padding-top: 5rem;
			overscroll-behavior: auto;
			overflow: auto;
			flex-wrap: nowrap;
			justify-content: flex-start;
		}
	}
	.healthcare {
		.product-card {
			width: 32.4rem;
			height: 50.2rem;
			display: flex;
			background: rgba(255, 218, 198, 0.674);
			box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
			backdrop-filter: blur(5.5px);
			-webkit-backdrop-filter: blur(5.5px);
			border-radius: 10px;
			border: 1px solid rgba(255, 255, 255, 0.286);
			flex-direction: column;
		}
		.icono {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			width: 100%;
			padding: 0.8rem 0.8rem;
			img {
				width: 3.1rem;
				filter: invert(36%) sepia(98%) saturate(394%) hue-rotate(13deg)
					brightness(91%) contrast(95%);
			}
		}
		.product-image {
			padding: 1.2rem 4.5rem 4.5rem;
			h2 {
				font-weight: 300;
				padding-bottom: 6rem;
			}
			h3 {
				font-size: 2.5rem;
			}
			p {
				font-size: 1.5rem;
			}
		}
		.card-image {
			width: 24.1012rem;
			height: 29.9637rem;
			border-radius: 0.65rem;
		}
	}
	.furniture {
		@extend .healthcare;
		.product-card {
			background: rgba(186, 189, 141, 0.7);
			box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
			backdrop-filter: blur(6px);
			-webkit-backdrop-filter: blur(6px);
			border-radius: 10px;
			border: 1px solid rgba(255, 255, 255, 0.18);
		}
	}
}

.about-us {
	@media screen and (max-width: 950px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	h2 {
		font-weight: bold;
		padding-bottom: 6rem;
	}
	.mission-section {
		@include flexCenter(row, space-evenly, center);
		padding-bottom: 7rem;
		@media screen and (max-width: 950px) {
			@include flexCenter(column, center, center);
			gap: 10rem;
			h2 {
				padding-bottom: 10rem;
			}
		}
	}
	.earth {
		@include flexCenter(row, center, center);
		align-items: center;
		gap: 4rem;
		color: $text-color;
		font-size: 3rem;
		width: 61.400000000000006rem;
		height: 26.2rem;
		text-align: center;
		img {
			width: 16.4rem;
		}
		@media screen and (max-width: 950px) {
			@include flexCenter(column, center, center);
			width: 100%;
			font-size: 2.1rem;
			img {
				width: 9rem;
			}
		}
	}
	.inovation {
		@extend .earth;
	}
}
.gallery {
	h2 {
		font-weight: bold;
		padding-bottom: 6rem;
	}
	.gallery-image {
		@include flexCenter(row, space-between, center);
		gap: 5.6rem;
		img {
			width: 48.6rem;
			height: 48.8rem;
			object-fit: cover;
			object-position: 0.5rem 35%;
			border-radius: 1.6rem;
			&:hover {
				transform: scale(1.1);
			}
		}
		@media screen and (max-width: 950px) {
			@include flexCenter(column, center, center);
			img {
				width: 29.6rem;
				height: 29.7495rem;
			}
		}
	}
}

.location {
	color: $text-color;
	h2 {
		padding: 7rem 0;
	}
	.map {
		@include flexCenter(row, center, center);
		padding-bottom: 5rem;
		width: 100%;
		height: 65.6rem;
		iframe {
			border: 0;
			width: 100%;
			height: 65.5rem;
		}
	}
	h3 {
		font-size: 3.5rem;
	}
	p {
		font-size: 2.5rem;
	}
	@media screen and (max-width: 950px) {
		h3 {
			font-size: 2rem;
		}
		p {
			font-size: 1.5rem;
		}
		.map {
			height: 50rem;
			iframe {
				height: 48rem;
			}
		}
	}
}

footer {
	$background: $quaternary-color;
	background-color: $background;
	width: 100%;
	height: auto;
	color: $primary-color;
	padding: 4rem;
	h3 {
		font-size: 3rem;
		font-weight: 500;
		padding-bottom: 4.3rem;
	}
	li{
		padding-bottom: 2.1rem;
		a {
			font-size: 2rem;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			color: $primary-color;
		}
	}
	.social-media {
		@include flexCenter(row, center, center);
		padding-top: 9rem;
		gap: 3rem;
		img {
			width: 4.3rem;
		}
	}
}
